.format {
  padding: 4rem 1rem;
  background: var(--ifm-color-emphasis-100);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
}

@media screen and (max-width: 996px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
